[s3]
aws_access_key_id: {{ aws_access_key_id }}
aws_secret_access_key: {{ aws_secret_access_key }}

[postgres]
marker_table: luigi_marker_table

[redshift]
marker_table: luigi_marker_table

[redshift-cluster]
host: {{ host }}
port: 5439
dbname: {{ dbname }}
user: {{ user }}
password: {{ password }}
